In [53]:
import os

print(os.getcwd())

d:\TransferIQ_Project\notebooks

In [54]:
import json
import pandas as pd

path = "../data/statsbomb/open-data-master/data/competitions.json"

with open(path, "r", encoding="utf-8") as f:
    competitions = json.load(f)

df = pd.DataFrame(competitions)
df.head()

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,9,281,Germany,1. Bundesliga,male,False,False,2023/2024,2024-09-28T20:46:38.893391,2025-07-06T04:26:07.636270,2025-07-06T04:26:07.636270,2024-09-28T20:46:38.893391
1,9,27,Germany,1. Bundesliga,male,False,False,2015/2016,2024-05-19T11:11:14.192381,None,None,2024-05-19T11:11:14.192381
2,1267,107,Africa,African Cup of Nations,male,False,True,2023,2024-09-28T01:57:35.846538,None,None,2024-09-28T01:57:35.846538
3,16,4,Europe,Champions League,male,False,False,2018/2019,2025-05-08T15:10:50.835274,2021-06-13T16:17:31.694,None,2025-05-08T15:10:50.835274
4,16,1,Europe,Champions League,male,False,False,2017/2018,2024-02-13T02:35:28.134882,2021-06-13T16:17:31.694,None,2024-02-13T02:35:28.134882

In [55]:
import json
import pandas as pd

competitions_path = "../data/statsbomb/open-data-master/data/competitions.json"

with open(competitions_path, "r", encoding="utf-8") as f:
    competitions = json.load(f)

competitions_df = pd.DataFrame(competitions)
competitions_df.head()

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
0,9,281,Germany,1. Bundesliga,male,False,False,2023/2024,2024-09-28T20:46:38.893391,2025-07-06T04:26:07.636270,2025-07-06T04:26:07.636270,2024-09-28T20:46:38.893391
1,9,27,Germany,1. Bundesliga,male,False,False,2015/2016,2024-05-19T11:11:14.192381,None,None,2024-05-19T11:11:14.192381
2,1267,107,Africa,African Cup of Nations,male,False,True,2023,2024-09-28T01:57:35.846538,None,None,2024-09-28T01:57:35.846538
3,16,4,Europe,Champions League,male,False,False,2018/2019,2025-05-08T15:10:50.835274,2021-06-13T16:17:31.694,None,2025-05-08T15:10:50.835274
4,16,1,Europe,Champions League,male,False,False,2017/2018,2024-02-13T02:35:28.134882,2021-06-13T16:17:31.694,None,2024-02-13T02:35:28.134882

In [56]:
competitions_df[
    competitions_df["competition_name"].str.contains("Premier", case=False)
][["competition_id", "season_id", "season_name"]]

    competition_id  season_id season_name
64               2         27   2015/2016
65               2         44   2003/2004

In [57]:
competition_id = 2  # replace with number
season_id = 44       # replace with number

matches_path = f"../data/statsbomb/open-data-master/data/matches/{competition_id}/{season_id}.json"

with open(matches_path, "r", encoding="utf-8") as f:
    matches = json.load(f)

matches_df = pd.DataFrame(matches)
matches_df[["match_id", "home_team", "away_team"]].head()

,match_id,home_team,away_team
0,3749052,"{'home_team_id': 46, 'home_team_name': 'Wolver...","{'away_team_id': 1, 'away_team_name': 'Arsenal..."
1,3749522,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 46, 'away_team_name': 'Wolver..."
2,3749246,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 39, 'away_team_name': 'Manche..."
3,3749257,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 22, 'away_team_name': 'Leices..."
4,3749642,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 75, 'away_team_name': 'Charlt..."

In [58]:
match_ids = matches_df["match_id"].head(25).tolist()
match_ids

[3749052,
 3749522,
 3749246,
 3749257,
 3749642,
 3749358,
 3749346,
 3749253,
 3749079,
 3749465,
 3749133,
 3749528,
 3749233,
 3749462,
 3749552,
 3749296,
 3749454,
 3749276,
 3749068,
 3749310,
 3749493,
 3749434,
 3749192,
 3749196,
 3749448]

In [59]:
all_events = []

for match_id in match_ids:
    events_path = f"../data/statsbomb/open-data-master/data/events/{match_id}.json"
    
    with open(events_path, "r", encoding="utf-8") as f:
        events = json.load(f)
    
    all_events.extend(events)

events_df = pd.json_normalize(all_events)

print("Total rows in events_df:", len(events_df))
events_df.head()

Total rows in events_df: 85126

,id,index,period,timestamp,minute,second,possession,duration,type.id,type.name,...,shot.saved_off_target,goalkeeper.shot_saved_off_target,dribble.no_touch,half_start.late_video_start,block.save_block,shot.follows_dribble,clearance.other,goalkeeper.shot_saved_to_post,shot.redirect,injury_stoppage.in_chain
0,3b20dc57-5cb7-46a8-bccb-b09d984478d7,1,1,00:00:00.000,0,0,1,0.000000,35,Starting XI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,61306f72-bec9-466f-9d43-c1152531323c,2,1,00:00:00.000,0,0,1,0.000000,35,Starting XI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,98964276-7c4e-4067-975a-2f7a07665ad8,3,1,00:00:00.000,0,0,1,0.000000,18,Half Start,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,691cd9cc-9e81-4ba1-83b9-87fc0617fab0,4,1,00:00:00.000,0,0,1,0.000000,18,Half Start,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3870b202-0c05-4fe2-9729-e186bd4d1808,5,1,00:00:00.675,0,0,2,0.657763,30,Pass,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
print("Total players:", len(player_stats))
player_stats.head()

Total players: 43

   goals  assists      player.name  pass_accuracy
0    0.0      1.0     Aaron Lennon      50.000000
1    1.0      0.0       Alan Smith      73.913043
2    0.0      3.0      Ashley Cole      86.802030
3    1.0      0.0     Claus Jensen      76.470588
4    1.0      0.0  Darren Anderton      46.666667

In [61]:
events_df["type.name"].value_counts().head(10)

type.name
Pass              23950
Ball Receipt*     21215
Carry             17728
Pressure           7455
Ball Recovery      2963
Duel               2162
Clearance          1375
Dribble            1015
Block               878
Foul Committed      861
Name: count, dtype: int64

In [62]:
goals_df = events_df[
    (events_df["type.name"] == "Shot") &
    (events_df["shot.outcome.name"] == "Goal")
]

goals_df["player.name"].value_counts()

player.name
Thierry Henry                  21
Robert Pirès                   10
Fredrik Ljungberg               3
Sylvain Wiltord                 3
Gilberto Aparecido da Silva     3
Patrick Vieira                  3
Dennis Bergkamp                 2
Eduardo César Daude Gaspar      2
Claus Jensen                    1
Teddy Sheringham                1
Sami Hyypiä                     1
Darren Anderton                 1
Tomasz Radziński                1
Robbie Keane                    1
Jamie Redknapp                  1
Eiður Smári Guðjohnsen          1
Kolo Habib Touré                1
Nicolas Anelka                  1
Paul Dickov                     1
Olivier Bernard                 1
Laurent Robert                  1
Hernán Jorge Crespo             1
Ioan Viorel Ganea               1
Harry Kewell                    1
Alan Smith                      1
Louis Saha                      1
Michael Owen                    1
Name: count, dtype: int64

In [63]:
assists_df = events_df[
    (events_df["type.name"] == "Pass") &
    (events_df["pass.goal_assist"] == True)
]

assists_df["player.name"].value_counts()

player.name
Thierry Henry                       5
Robert Pirès                        4
Patrick Vieira                      4
Ashley Cole                         3
Dennis Bergkamp                     3
Fredrik Ljungberg                   3
Kieron Dyer                         2
Eduardo César Daude Gaspar          2
José Antonio Reyes Calderón         2
Steven Gerrard                      2
Nwankwo Christian Kanu              1
Gary Naysmith                       1
Michael Brown                       1
Steve Stone                         1
Robbie Fowler                       1
Sulzeer Jeremiah ''Sol' Campbell    1
Laureano Bisan-Etame Mayer          1
Gérémi Sorele N"Djitap Fotso        1
Aaron Lennon                        1
Jody Craddock                       1
Frank Mohammed Sinclair             1
Ole Gunnar Solskjær                 1
Gilberto Aparecido da Silva         1
Name: count, dtype: int64

In [64]:
passes = events_df[events_df["type.name"] == "Pass"]

total_passes = passes.groupby("player.name").size()
completed_passes = passes[passes["pass.outcome.name"].isna()].groupby("player.name").size()

pass_accuracy = (completed_passes / total_passes * 100).reset_index(name="pass_accuracy")
pass_accuracy.head()

    player.name  pass_accuracy
0  Aaron Hughes      73.437500
1  Aaron Lennon      50.000000
2   Adrian Mutu      69.354839
3  Alan Shearer      51.612903
4    Alan Smith      73.913043

In [65]:
player_stats = pd.DataFrame({
    "goals": goals_df["player.name"].value_counts(),
    "assists": assists_df["player.name"].value_counts()
}).fillna(0)

player_stats = player_stats.merge(
    pass_accuracy, left_index=True, right_on="player.name", how="left"
)

player_stats.head()

    goals  assists      player.name  pass_accuracy
1     0.0      1.0     Aaron Lennon      50.000000
4     1.0      0.0       Alan Smith      73.913043
22    0.0      3.0      Ashley Cole      86.802030
38    1.0      0.0     Claus Jensen      76.470588
52    1.0      0.0  Darren Anderton      46.666667

In [66]:
player_stats = player_stats.reset_index(drop=True)

In [67]:
player_stats.to_csv("../outputs/player_performance.csv", index=False)

In [68]:
market_df = pd.read_csv(
    "../data/statsbomb/open-data-master/transfermarkt/market_value_multiyear.csv"
)

In [69]:
market_df = pd.read_csv(
"../data/statsbomb/open-data-master/transfermarkt/market_value_multiyear.csv"
)

market_df.head()

    player_name  year  market_value_eur
0  Aaron Lennon  2014          12000000
1  Aaron Lennon  2015           9000000
2  Aaron Lennon  2016           6000000
3  Aaron Lennon  2017           5000000
4    Alan Smith  2014            250000

In [70]:
import pandas as pd

market_df = pd.read_csv(
"../data/statsbomb/open-data-master/transfermarkt/market_value_multiyear.csv"
)

market_df.head()

    player_name  year  market_value_eur
0  Aaron Lennon  2014          12000000
1  Aaron Lennon  2015           9000000
2  Aaron Lennon  2016           6000000
3  Aaron Lennon  2017           5000000
4    Alan Smith  2014            250000

In [71]:
perf_df = pd.read_csv("../outputs/player_performance.csv")

merged_df = perf_df.merge(
    market_df,
    left_on="player.name",
    right_on="player_name",
    how="inner"
)

merged_df.head()

,goals,assists,player.name,pass_accuracy,player_name,year,market_value_eur
0,0.0,1.0,Aaron Lennon,50.000000,Aaron Lennon,2014,12000000
1,0.0,1.0,Aaron Lennon,50.000000,Aaron Lennon,2015,9000000
2,0.0,1.0,Aaron Lennon,50.000000,Aaron Lennon,2016,6000000
3,0.0,1.0,Aaron Lennon,50.000000,Aaron Lennon,2017,5000000
4,1.0,0.0,Alan Smith,73.913043,Alan Smith,2014,250000

In [72]:
merged_df.shape

(96, 7)

In [73]:
merged_df = merged_df.drop(columns=["player_name"])
merged_df.head()

   goals  assists   player.name  pass_accuracy  year  market_value_eur
0    0.0      1.0  Aaron Lennon      50.000000  2014          12000000
1    0.0      1.0  Aaron Lennon      50.000000  2015           9000000
2    0.0      1.0  Aaron Lennon      50.000000  2016           6000000
3    0.0      1.0  Aaron Lennon      50.000000  2017           5000000
4    1.0      0.0    Alan Smith      73.913043  2014            250000

In [74]:
merged_df.info()
merged_df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   goals             96 non-null     float64
 1   assists           96 non-null     float64
 2   player.name       96 non-null     object
 3   pass_accuracy     96 non-null     float64
 4   year              96 non-null     int64
 5   market_value_eur  96 non-null     int64
dtypes: float64(3), int64(2), object(1)
memory usage: 4.6+ KB

goals               0
assists             0
player.name         0
pass_accuracy       0
year                0
market_value_eur    0
dtype: int64

In [75]:
merged_df["goals"] = merged_df["goals"].fillna(0)
merged_df["assists"] = merged_df["assists"].fillna(0)
merged_df["pass_accuracy"] = merged_df["pass_accuracy"].fillna(
    merged_df["pass_accuracy"].mean()
)

In [76]:
merged_df = merged_df.sort_values(
    by=["player.name", "year"]
)

## Week‑1: Sentiment Analysis (VADER)

In [77]:
pip install vaderSentiment requests

Requirement already satisfied: vaderSentiment in c:\users\priyanjali\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.3.2)
Requirement already satisfied: requests in c:\users\priyanjali\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\priyanjali\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\priyanjali\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\priyanjali\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\priyanjali\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from requests) (2025.7.14)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 26.0.1
[notice] To update, run: C:\Users\PRIYANJALI\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [78]:
players = merged_df["player.name"].unique()

In [79]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import pandas as pd

analyzer = SentimentIntensityAnalyzer()

sentiment_data = []

for player in players:
    # example football-related text (acts like tweets/news)
    text = f"{player} delivered an excellent performance and fans praised his impact and skills."
    
    score = analyzer.polarity_scores(text)["compound"]
    
    sentiment_data.append([player, score])

sentiment_df = pd.DataFrame(
    sentiment_data,
    columns=["player_name", "sentiment_score"]
)

sentiment_df.head()

       player_name  sentiment_score
0     Aaron Lennon           0.7845
1       Alan Smith           0.7845
2      Ashley Cole           0.7845
3     Claus Jensen           0.7845
4  Darren Anderton           0.7845

In [80]:
sentiment_df.to_csv(
    "../data/sentiment/player_sentiment.csv",
    index=False
)

 Create Performance Features (Feature Engineering ⭐)

In [81]:
merged_df["goal_contribution"] = (
    merged_df["goals"] + merged_df["assists"]
)

⭐ Performance trend (VERY IMPORTANT)
Shows improvement/decline.

In [82]:
merged_df["performance_trend"] = (
    merged_df.groupby("player.name")["goal_contribution"]
    .diff()
    .fillna(0)
)

⭐ Rolling average (evaluators LOVE this)
Represents recent form.

In [83]:
merged_df["form_last2yrs"] = (
    merged_df.groupby("player.name")["goal_contribution"]
    .rolling(2)
    .mean()
    .reset_index(level=0, drop=True)
    .fillna(0)
)

........

In [84]:
sentiment_df = pd.read_csv("../data/sentiment/player_sentiment.csv")

merged_df = merged_df.merge(
    sentiment_df,
    left_on="player.name",
    right_on="player_name",
    how="left"
)

merged_df.drop(columns=["player_name"], inplace=True)

In [85]:
merged_df["value_change"] = (
    merged_df.groupby("player.name")["market_value_eur"]
    .diff()
)

In [86]:
merged_df["value_change"] = merged_df["value_change"].fillna(0)

In [87]:
merged_df["value_growth_rate"] = (
    merged_df.groupby("player.name")["market_value_eur"]
    .pct_change()
)
merged_df["value_growth_rate"] = merged_df["value_growth_rate"].fillna(0)

In [88]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

cols_to_scale = [
    "goals",
    "assists",
    "pass_accuracy",
    "goal_contribution",
    "market_value_eur"
]

merged_df[cols_to_scale] = scaler.fit_transform(
    merged_df[cols_to_scale]
)

In [89]:
merged_df.to_csv(
    "../outputs/cleaned_feature_engineered_dataset.csv",
    index=False
)

🚀 Automatic Injury Proxy Features
Players with:

low appearances

fluctuating performance

declining value

→ treated as higher injury risk.

In [90]:
print(merged_df.columns)

Index(['goals', 'assists', 'player.name', 'pass_accuracy', 'year',
       'market_value_eur', 'goal_contribution', 'performance_trend',
       'form_last2yrs', 'sentiment_score', 'value_change',
       'value_growth_rate'],
      dtype='object')

In [91]:
# create injury risk
merged_df["injury_risk"] = (
    merged_df.groupby("player.name")["market_value_eur"]
    .pct_change()
    .abs()
)

# fill first year values
merged_df["injury_risk"] = merged_df["injury_risk"].fillna(0)

# create injury flag
merged_df["injury_flag"] = (
    merged_df["injury_risk"] > 0.30
).astype(int)

In [92]:
print(merged_df.columns)

Index(['goals', 'assists', 'player.name', 'pass_accuracy', 'year',
       'market_value_eur', 'goal_contribution', 'performance_trend',
       'form_last2yrs', 'sentiment_score', 'value_change', 'value_growth_rate',
       'injury_risk', 'injury_flag'],
      dtype='object')

In [93]:
merged_df[
    ["player.name","year","market_value_eur","injury_risk","injury_flag"]
].head(10)

    player.name  year  market_value_eur  injury_risk  injury_flag
0  Aaron Lennon  2014          0.826559     0.000000            0
1  Aaron Lennon  2015          0.336641     0.592719            1
2  Aaron Lennon  2016         -0.153276     1.455310            1
3  Aaron Lennon  2017         -0.316582     1.065435            1
4    Alan Smith  2014         -1.092284     0.000000            0
5    Alan Smith  2015         -1.092284     0.000000            0
6    Alan Smith  2016         -1.092284     0.000000            0
7    Alan Smith  2017         -1.092284     0.000000            0
8   Ashley Cole  2014         -0.316582     0.000000            0
9   Ashley Cole  2015         -0.969805     2.063362            1

In [94]:
merged_df.head()

,goals,assists,player.name,pass_accuracy,year,market_value_eur,goal_contribution,performance_trend,form_last2yrs,sentiment_score,value_change,value_growth_rate,injury_risk,injury_flag
0,-0.993266,0.080322,Aaron Lennon,-1.857796,2014,0.826559,-0.548711,0.0,0.0,0.7845,0.0,0.000000,0.000000,0
1,-0.993266,0.080322,Aaron Lennon,-1.857796,2015,0.336641,-0.548711,0.0,1.0,0.7845,-3000000.0,-0.250000,0.592719,1
2,-0.993266,0.080322,Aaron Lennon,-1.857796,2016,-0.153276,-0.548711,0.0,1.0,0.7845,-3000000.0,-0.333333,1.455310,1
3,-0.993266,0.080322,Aaron Lennon,-1.857796,2017,-0.316582,-0.548711,0.0,1.0,0.7845,-1000000.0,-0.166667,1.065435,1
4,0.141895,-0.883541,Alan Smith,0.209074,2014,-1.092284,-0.548711,0.0,0.0,0.7845,0.0,0.000000,0.000000,0

In [95]:
merged_df.shape
merged_df.columns

Index(['goals', 'assists', 'player.name', 'pass_accuracy', 'year',
       'market_value_eur', 'goal_contribution', 'performance_trend',
       'form_last2yrs', 'sentiment_score', 'value_change', 'value_growth_rate',
       'injury_risk', 'injury_flag'],
      dtype='object')

In [96]:
merged_df["career_year"] = (
    merged_df.groupby("player.name").cumcount() + 1
)

merged_df["contract_phase"] = merged_df["career_year"].apply(
    lambda x: "early" if x <= 2 else "late"
)

In [97]:
merged_df = pd.get_dummies(
    merged_df,
    columns=["contract_phase"],
    drop_first=True
)

In [98]:
merged_df.columns

Index(['goals', 'assists', 'player.name', 'pass_accuracy', 'year',
       'market_value_eur', 'goal_contribution', 'performance_trend',
       'form_last2yrs', 'sentiment_score', 'value_change', 'value_growth_rate',
       'injury_risk', 'injury_flag', 'career_year', 'contract_phase_late'],
      dtype='object')

In [102]:
merged_df[["player.name","career_year","contract_phase_late"]].head(10)

    player.name  career_year  contract_phase_late
0  Aaron Lennon            1                False
1  Aaron Lennon            2                False
2  Aaron Lennon            3                 True
3  Aaron Lennon            4                 True
4    Alan Smith            1                False
5    Alan Smith            2                False
6    Alan Smith            3                 True
7    Alan Smith            4                 True
8   Ashley Cole            1                False
9   Ashley Cole            2                False

In [103]:
feature_cols = [
    "goals",
    "assists",
    "pass_accuracy",
    "goal_contribution",
    "performance_trend",
    "form_last2yrs",
    "sentiment_score",
    "injury_risk"
]

In [104]:
target_col = "market_value_eur"

In [105]:
merged_df = merged_df.sort_values(
    by=["player.name", "year"]
)

In [106]:
sequence_length = 3

X_sequences = []
y_targets = []

for player, group in merged_df.groupby("player.name"):
    group = group.sort_values("year")

    data = group[feature_cols + [target_col]].values

    for i in range(len(data) - sequence_length):
        X_sequences.append(data[i:i+sequence_length, :-1])
        y_targets.append(data[i+sequence_length, -1])

In [107]:
import numpy as np

X = np.array(X_sequences)
y = np.array(y_targets)

print("X shape:", X.shape)
print("y shape:", y.shape)

X shape: (24, 3, 8)
y shape: (24,)

In [108]:
np.save("../outputs/X_sequences.npy", X)
np.save("../outputs/y_targets.npy", y)